# BCG  GenAI Consulting Financial Chatbot Simulation

**Task 1**: Data extraction and initial analysis

Your task is to manually extract key financial data for the last three fiscal years from the 10-K filings of Microsoft, Tesla, and Apple. Following the data collection, you will use Python to analyze this data, focusing on trends and insights that could inform the development of an AI-powered financial chatbot.

In [13]:
import pandas as pd

In [14]:
df=pd.read_csv("Financials_Microsoft_Tesla_Apple.csv")

Clean & inspect the data

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Company                                          9 non-null      object
 1   Fiscal Year                                      9 non-null      int64
 2   Total Revenue (Billion $)                        9 non-null      float64
 3   Net Income (Billion $)                           9 non-null      float64
 4   Total Assets (Billion $)                         9 non-null      float64
 5   Total Liabilities (Billion $)                    9 non-null      float64
 6   Cash Flow from Operating Activities (Billion $)  9 non-null      float64
dtypes: float64(5), int64(1), object(1)
memory usage: 632.0+ bytes

In [16]:
df.columns

Index(['Company', 'Fiscal Year', 'Total Revenue (Billion $)',
       'Net Income (Billion $)', 'Total Assets (Billion $)',
       'Total Liabilities (Billion $)',
       'Cash Flow from Operating Activities (Billion $)'],
      dtype='object')

In [17]:
df

,Company,Fiscal Year,Total Revenue (Billion $),Net Income (Billion $),Total Assets (Billion $),Total Liabilities (Billion $),Cash Flow from Operating Activities (Billion $)
0,Microsoft,2024,211.91,72.74,411.80,191.79,89.14
1,Microsoft,2023,198.27,72.74,364.80,176.95,87.94
2,Microsoft,2022,184.90,61.27,333.80,160.40,76.70
3,Tesla,2024,81.46,12.63,82.45,28.23,13.54
4,Tesla,2023,81.46,12.63,82.45,28.23,13.54
5,Tesla,2022,53.82,12.56,62.13,23.46,14.44
6,Apple,2024,394.33,99.80,352.75,287.91,111.45
7,Apple,2023,383.84,99.80,352.75,287.91,111.45
8,Apple,2022,365.82,94.68,351.00,287.91,122.15

In [18]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue (Billion $)'].pct_change() * 100

In [19]:
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income (Billion $)'].pct_change() * 100

In [20]:
df

,Company,Fiscal Year,Total Revenue (Billion $),Net Income (Billion $),Total Assets (Billion $),Total Liabilities (Billion $),Cash Flow from Operating Activities (Billion $),Revenue Growth (%),Net Income Growth (%)
0,Microsoft,2024,211.91,72.74,411.80,191.79,89.14,NaN,NaN
1,Microsoft,2023,198.27,72.74,364.80,176.95,87.94,-6.436695,0.000000
2,Microsoft,2022,184.90,61.27,333.80,160.40,76.70,-6.743330,-15.768491
3,Tesla,2024,81.46,12.63,82.45,28.23,13.54,NaN,NaN
4,Tesla,2023,81.46,12.63,82.45,28.23,13.54,0.000000,0.000000
5,Tesla,2022,53.82,12.56,62.13,23.46,14.44,-33.930764,-0.554236
6,Apple,2024,394.33,99.80,352.75,287.91,111.45,NaN,NaN
7,Apple,2023,383.84,99.80,352.75,287.91,111.45,-2.660208,0.000000
8,Apple,2022,365.82,94.68,351.00,287.91,122.15,-4.694664,-5.130261

In [21]:
df.fillna(0, inplace=True)

In [22]:
print(df)

     Company  Fiscal Year  Total Revenue (Billion $)  Net Income (Billion $)  \
0  Microsoft         2024                     211.91                   72.74
1  Microsoft         2023                     198.27                   72.74
2  Microsoft         2022                     184.90                   61.27
3      Tesla         2024                      81.46                   12.63
4      Tesla         2023                      81.46                   12.63
5      Tesla         2022                      53.82                   12.56
6      Apple         2024                     394.33                   99.80
7      Apple         2023                     383.84                   99.80
8      Apple         2022                     365.82                   94.68

   Total Assets (Billion $)  Total Liabilities (Billion $)  \
0                    411.80                         191.79
1                    364.80                         176.95
2                    333.80                         160.40
3                     82.45                          28.23
4                     82.45                          28.23
5                     62.13                          23.46
6                    352.75                         287.91
7                    352.75                         287.91
8                    351.00                         287.91

   Cash Flow from Operating Activities (Billion $)  Revenue Growth (%)  \
0                                            89.14            0.000000
1                                            87.94           -6.436695
2                                            76.70           -6.743330
3                                            13.54            0.000000
4                                            13.54            0.000000
5                                            14.44          -33.930764
6                                           111.45            0.000000
7                                           111.45           -2.660208
8                                           122.15           -4.694664

   Net Income Growth (%)
0               0.000000
1               0.000000
2             -15.768491
3               0.000000
4               0.000000
5              -0.554236
6               0.000000
7               0.000000
8              -5.130261

**OBSERVATIONS**

Over the three-year period, Microsoft, Tesla, and Apple show fluctuations in revenue and net income growth. While some year-over-year changes are negative, overall, each company maintains substantial revenues, assets, and cash flow from operating activities, indicating consistent financial stability.

**PER COMPANY OBSERVATION**

- Microsoft: Revenue and net income show minor fluctuations over the three years, but the company consistently maintains strong total assets and cash flow, reflecting stable financial performance.

- Tesla: Year-over-year changes in revenue and net income vary, yet Tesla continues to sustain healthy cash flow and manageable liabilities, indicating operational stability.

- Apple: Despite small variations in revenue and net income growth, Apple maintains high total assets and cash flow from operations, demonstrating consistent financial strength.